<h1 class="center lightFont">Admin Panel</h1>
<md-card class="cardSize" *ngIf="exam_selected">
  <md-select placeholder="Catagory" [(ngModel)]="exam_cat" name="exam_cat">
   <md-option *ngFor="let cat of all_cats" value="{{cat._id}}"> {{ cat.name }} </md-option>
  </md-select>
  <button md-raised-button (click)="get_exam()">Submit</button>
</md-card>

<md-card class="cardSize" *ngIf="all_exam.q_series.length > 0"  style="margin: 10px 0">
  <md-card-subtitle>Queston {{question_num + 1}}</md-card-subtitle>
  <md-card-title><pre>{{all_exam.q_series[question_num].text}}</pre></md-card-title>
  <md-card-content>The suggested answer is: <pre>{{all_exam.q_series[question_num].answer}}</pre></md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="send_question()">Send</button>
    <button md-raised-button (click)="end_question()">End</button>
    <button md-raised-button *ngIf="question_num < all_exam.q_series.length - 1" (click)="next_question()">Next</button>
    <button md-raised-button *ngIf="question_num >= all_exam.q_series.length - 1" (click)="finished()">FINISHED</button>
  </md-card-actions>
</md-card>

<div *ngIf="team_dispay">
<!-- card will be genereated after user input teamname -->
  <md-card class="cardSize">
    <md-card-title>Teams</md-card-title>
    <md-card-content *ngFor="let team of admin_data.teams" style="margin: 16px 0;">
      <md-grid-list cols="8" rowHeight="40px">
        <md-grid-tile colspan="2">{{team.name}}</md-grid-tile>
        <md-grid-tile colspan="1">Score: {{team.score}}</md-grid-tile>
        <md-grid-tile colspan="4">{{ team.answer }}</md-grid-tile>
        <md-grid-tile colspan="1"><button md-raised-button *ngIf="team.commit" (click)="correct_answer(team.sid)">Correct</button></md-grid-tile>
      </md-grid-list>
    </md-card-content>
  </md-card>
</div>

