
<md-card class="chooseExam">
  <form >
  <md-select placeholder="Catagory" [(ngModel)]="exam_cat" name="exam_cat">
   <md-option *ngFor="let cat of all_cats" value="{{cat._id}}"> {{ cat.name }} </md-option>
  </md-select>
  <button md-raised-button (click)="get_exam()">Submit</button>
  </form>
</md-card>


<button md-raised-button disabled>Start the exam</button>

<h2>Teams</h2>
<!-- card will be genereated after user input teamname -->

<md-card class="userList" *ngFor="let team of teams">
  <md-card-title>{{team.name}}</md-card-title>
  <md-card-content>
    <p>something here here for answer</p>
  </md-card-content>
  <md-card-subtitle>{{team.score}}</md-card-subtitle>
</md-card>

<md-card *ngIf="all_exam.q_series.length > 0" class="questionAnswer" style="margin: 10px 0">
  <md-card-subtitle>Queston {{question_num + 1}}</md-card-subtitle>
  <md-card-title><pre>{{all_exam.q_series[question_num].text}}</pre></md-card-title>
  <md-card-content><pre>{{all_exam.q_series[question_num].answer}}</pre></md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="send_question()">Send</button>
    <button md-raised-button (click)="end_question()">End</button>
    <button md-raised-button>Next</button>
  </md-card-actions>
</md-card>