<button md-raised-button>Start the exam</button>

<h2>Teams</h2>
<!-- card will be genereated after user input teamname -->

<md-card class="userList">
  <md-card-title>User 1</md-card-title>
  <md-card-content>
    <!-- Display use input -->
  </md-card-content>
</md-card>

<md-card class="questionAnswer">
  <md-card-subtitle>Queston 1</md-card-subtitle>
  <md-card-title>What is the difference between "==" and "==="></md-card-title>
  <md-card-content>The difference is relative and absolute.</md-card-content>
  <md-card-actions>
    <button md-raised-button>Send</button>
    <button md-raised-button>End</button>
    <button md-raised-button>Next</button>
  </md-card-actions>
</md-card>
