/* You can add global styles to this file, and also import other style files */

@import 'customize.css';

body{
  background: url(./assets/dojoUser.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.center{
  display: block;
  text-align: center;
}

.lightFont{
  color: white;
}

.cardSize{
  width: 50%;
  margin: 12px auto;
}


.fullWidth {
  display: block;
  width: 100%;
}

h1{
  margin: 48px auto 24px;
}
h2{
  margin: 48px auto 24px;
}
