/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
  background: black;
}

.center{
  display: block;
  text-align: center;
}

.lightFont{
  color: white;
}

.cardSize{
  width: 50%;
  margin: 10px auto;
}
