<div class="center lightFont"><h1>Dojo Olympics</h1></div>

<md-card class="cardSize">
  <md-card-title class="title">Admin login</md-card-title>
    <md-card-content>
      <md-input-container class="fullWidth">
        <input mdInput placeholder="Enter instructor phrase" type="text" name="adminPhrase" value="">
      </md-input-container>
    </md-card-content>
    <button md-raised-button  (click)="newAdmin()">Enter</button>    
</md-card>

<!--<div *ngif="admin">-->
  <md-card class="cardSize" >
    <md-card-title class="title">What's your team name?</md-card-title>
    <md-card-content>
        <md-input-container class="fullWidth" >
          <input mdInput placeholder="Enter your team name" name="user_name" [(ngModel)]="user_name" >
        </md-input-container>
    </md-card-content>
    <button md-raised-button (click)="newUser()">Submit</button>
  </md-card>
<!--</div>-->