<div class="center"><h1>Dojo Exam</h1></div>

<md-card class="login">
  <md-card-title>Admin login</md-card-title>
  <md-card-content>
    <form name="loginForm">
      <md-input-container class="loginInput">
        <input mdInput placeholder="Name" value="">
      </md-input-container>
      <md-input-container class="loginInput">
        <input mdInput placeholder="Passcode" value="">
      </md-input-container>
    </form>
  </md-card-content>
  <button md-raised-button>Submit</button>
</md-card>

<md-card class="teamlogin">
  <md-card-title>What's your team name?</md-card-title>
  <md-card-content>
    <form name="loginForm">
      <md-input-container class="loginInput">
        <input mdInput placeholder="Input your team name here" name="user_name" [(ngModel)]="user_name" />
      </md-input-container>
    </form>
  </md-card-content>
  <button md-raised-button (click)="doSendUserName()">Submit</button>
</md-card>
