<!-- question card -->
<md-card class = "question" *ngIf="!user_data.question_end">
  <md-card-header>
    <md-card-subtitle>
      Question {{ user_data.question_num + 1 }}
    </md-card-subtitle>
  </md-card-header>

  <md-card-title style="background:#2196F3; padding:12px 0 12px 24px;">
    {{ user_data.question_text }}
  </md-card-title>

  <md-card-content style="background:#777;">
    <form class="userAnswer">
      <md-input-container>
        <textarea mdInput placeholder="Your answer" name="answer_text" [(ngModel)]="answer_text" (keyup)="update_answer()"></textarea>
      </md-input-container>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="commit_answer()">Submit</button>
  </md-card-actions>
</md-card>

<md-card class = "waiting">
  <h1> Waitng card </h1>
</md-card>