<!-- question card -->
<md-card class = "question">
  <md-card-header>
    <md-card-subtitle>
      Question {{ user_data.question_num + 1 }}
    </md-card-subtitle>
  </md-card-header>

  <md-card-title style="background:#2196F3; padding:12px 0 12px 24px;">
    {{ user_data.question_text }}
  </md-card-title>

  <md-card-content style="background:#777;">
    <form class="userAnswer">
      <md-input-container>
        <textarea mdInput placeholder="Your answer">Answer here</textarea>
      </md-input-container>
    </form>
  </md-card-content>

  <md-card-actions>
    <button md-raised-button>Submit</button>
  </md-card-actions>
</md-card>
